@font-face {
  font-family: 'TT Norms Light';
  src: url('../fonts/TTNorms-Light.eot');
  src: url('../fonts/TTNorms-Light.eot?#iefix') format('embedded-opentype'),
  url('../fonts/TTNorms-Light.woff') format('woff'),
  url('../fonts/TTNorms-Light.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'TT Norms Regular';
  src: url('../fonts/TTNorms-Regular.eot');
  src: url('../fonts/TTNorms-Regular.eot?#iefix') format('embedded-opentype'),
  url('../fonts/TTNorms-Regular.woff') format('woff'),
  url('../fonts/TTNorms-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'TT Norms Bold';
  src: url('../fonts/TTNorms-Bold.eot');
  src: url('../fonts/TTNorms-Bold.eot?#iefix') format('embedded-opentype'),
  url('../fonts/TTNorms-Bold.woff') format('woff'),
  url('../fonts/TTNorms-Bold.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@mixin light {
  font-family: 'TT Norms Light', sans-serif;
}
@mixin regular {
  font-family: 'TT Norms Regular', sans-serif;
}
@mixin bold {
  font-family: 'TT Norms Bold', sans-serif;
}