*
  box-sizing: border-box
body
  +regular
  font-size: 14px

  color: $base-color
.button
  padding: 20px 65px

  font-size: 14px
  text-transform: uppercase
  letter-spacing: 0.7px
  text-decoration: none

  color: $base-color
  background-color: $button-base-color
  border: none

  outline: none
  cursor: pointer
  &:hover
    background-color: $button-base-hover
  &_blue
    background-color: $blue-color
.headline
  max-width: 420px
  font-size: 45px
  font-weight: 300
.padding-left
  padding-left: 65px
@media (max-width: 1320px)
  .headline
    font-size: 40px
  .padding-left
    padding-left: 0
@media (max-width: 1000px)
  .headline
    font-size: 34px
@media (max-width: 425px)
  .headline
    font-size: 32px